<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="/assets/img/IconLogin.png" id="icon" alt="Icono De Usuario" />
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="text" id="Usuario" class="fadeIn second" name="Usuario" placeholder="Usuario">
            <input type="text" id="Contraseña" class="fadeIn third" name="Contraseña" placeholder="Contraseña">
           
            <input type="submit" class="fadeIn fourth" value="Inicio de Sesion">
          </form>
      
          <!-- Remind Passowrd 
          <div id="formFooter">
            <a class="underlineHover" href="#">Olvido Su Contraseña?</a>
          </div>-->
      
        </div>
      </div>
</body>
